@import "tailwindcss";


body {
  margin: 0;
  min-height: 100vh;
  background-color: #f8fafc;
  color: #1e293b;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

@media print {

  body * {
    visibility: hidden;
  }

  .print-area,
  .print-area * {
    visibility: visible;
  }

  .print-area {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }

  .no-print {
    display: none;
  }

  @page {
    margin: 1in;
  }
}